modules = ["python-3.12", "bash", "web"]
run = "python main.py"

[nix]
channel = "stable-24_05"
packages = ["ffmpeg-full", "libyaml"]

[deployment]
run = ["sh", "-c", "python main.py"]

[workflows]
runButton = "Main Application"

[[workflows.workflow]]
name = "Main Application"
author = 41837320
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8765
externalPort = 80
