[Unit]
Description=Replay Edge REST API
[Service]
ExecStart=/usr/bin/python3 /home/pi/replay/api/server.py
Restart=always
User=pi
[Install]
WantedBy=multi-user.target
