[Unit]
Description=Replay WebSocket Signaling Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/replay/websocket/server.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
